body {
    font-family: Arial, sans-serif;
    background-color: rgb(131, 194, 245);
    color: #d54df0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(237, 235, 235, 0.904);
}

header {
    color: #141314;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

header h1 {
    color: #fa3dfa;
    margin: 0;
    font-size: 2em;
}

section {
    color: #050505;
    margin-bottom: 20px;
}

section h2 {
    color: #fa5dfa;
    border-bottom: 3px solid #3cb1ff;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    color: #050505;
    margin-bottom: 3px;
}
